/* CSS for Summary Page  */

.summary-loading,
.failed-loading {
    background-color: #fff;
    box-shadow: rgb(228, 223, 223) 0 0 50px 5px;
    border-radius: 1rem;
    text-align: center;
}

.summary-loading {
    padding: 10rem;
    height: 26rem;
    width: 26rem;
}

.failed-loading {
    background-color: rgb(234, 86, 86);
    color: #fafdfe;
    padding: 2rem;
    width: 26rem;
}

.summary-conatainer {
    background-color: #fff;
    box-shadow: rgb(228, 223, 223) 0 0 50px 5px;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    width: 700px;
    margin: 0.5rem;
}

.remit-summary {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
}

#green-amount-text {
    color: #57b750;
}

.amount-edit-btn {
    border: 1px solid #198CF0FF;
    color: #198CF0FF;
    background-color: aliceblue;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font-size: small;
}

.amount-edit-btn:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.total-amount {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #7adcf01b;
    border-radius: 0.5rem;
}

.operator-section {
    width: 80%;
    margin-left: 10%;
}

.operator-wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    text-decoration: none;
    color: #0258a9;
    font-size: 1.15rem;
    cursor: pointer;
}

.operator-wrapper strong {
    text-align: left;
}

.operator-container div:hover {
    font-size: x-large;
    background-color: rgba(203, 233, 208, 0.741);
    color: rgb(54, 39, 39);
    border-radius: 1rem;
}

.operator-img {
    width: 3rem;
    height: 3rem;
}

.pack-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pack-Container {
    min-width: 300px;
    background-color: #0c76bd;
    margin: 0.35rem 0.35rem;
    padding: 0.05rem 1rem;
    border-radius: 0.25rem;
    color: #fafdfe;
    cursor: pointer;
}

.pack-Container:hover {
    transform: scale(0.98);
}

.pack-hrt-rule--horizontal {
    margin: 0.15rem 0 0.15rem;
    border-top: 0.5px solid #e1dcdcd6;
}

.Currency-pack {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.etb-pack {
    margin: 0.5rem 0;
}

.package-footer {
    color: #ffd22e;
    font-size: 12px;
    margin: 0.5rem 0;
}

.package-footer-icon {
    border-radius: 50%;
    border: #000;
    background-color: #939697b0;
    padding: 1px 7px;
    font-weight: 900;
    margin-right: 5px;
}

.promoCode-label-text {
    text-align: right;
}

.promoCode-input-conatainer h4 {
    display: inline-block;
    outline: #000 1px solid;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

.promoCode-input-conatainer h4:hover {
    font-style: italic;
    transform: scale(0.95);
    cursor: pointer;
}

.promo-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 0rem;
}

#promoCode-id {
    width: 100%;
    background-color: transparent;
    color: #004A59;
    text-align: left;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    min-height: 2.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#promoCode-id::placeholder {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.promoCode-btn {
    display: inline-block;
    width: auto;
    color: #fafdfe;
    background-color: #57b750;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 0.5rem;
    min-height: 2.5rem;
}

.promoCode-btn:hover {
    transform: scale(0.99);
}

.pay-with-paypal-section {
    margin-top: 2rem;
    text-align: left;
}

#pay-img {
    margin: 1rem 0 0.25rem;
    height: 3.5rem;
}

#paypal-img {
    margin: 1rem 0 0.25rem;
    height: 3rem;
}

.pay-btn {
    color: #fafdfe;
    background-color: #3fa5e9;
    border-radius: 2rem;
    margin: 1rem 0;
    min-height: 2.5rem;
    padding: 0 auto;
    cursor: pointer;
}

.pay-btn:hover {
    background: #0070ba;
    transform: scale(0.95);
}

.pay-btn::after {
    content: "Continue";
}

.pay-btn:hover::after {
    content: "Pay with PayPal";
}


@media screen and (max-width : 324px) {
    .summary-conatainer {
        width: 100%;
    }

    .pack-Container {
        min-width: 250px;
    }

    .remit-summary,
    .total-amount,
    .promoCode-input-conatainer,
    .pay-with-paypal-section {
        padding-inline: 0.5rem;
    }

}

@media screen and (min-width : 325px) and (max-width : 671px) {
    .pack-Container {
        min-width: 300px;
        max-width: 600px;
    }

    .remit-summary,
    .total-amount,
    .promoCode-input-conatainer,
    .pay-with-paypal-section {
        padding-inline: 1.25rem;
    }

}

@media screen and (min-width : 700px) {

    .remit-summary,
    .total-amount,
    .promoCode-input-conatainer,
    .pay-with-paypal-section {
        padding-inline: 3rem;
    }
}