.App {
  text-align: center;
  color: #004A59;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: -10px;
  background-color: rgba(249, 245, 245, 0.99);
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5vw;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: rgb(204, 199, 199) 0 1px 20px 1px;
}

.App-header h1 {
  font-family: 'Brush Script MT', cursive;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  bottom: 0px;
  margin-bottom: 0px;
  color: #fff;
  background-color: #033632;
  min-width: 330px;


}

.footer-content {
  width: 100%;
  height: 8rem;
  padding-top: 4rem;
  background-color: #133d3a;
  display: none;
}

.footer-bottom {
  background-color: #033632;
  padding: 0.5rem 1rem;
  height: 2rem;
  width: 100%;
  text-align: right;
}

.hrt-rule--horizontal {
  margin: 1rem 0;
  border-top: 0.5px solid #e1dcdcd6;
}


@media screen and (min-width : 1024px) {

  .App-header {
    padding-inline: calc(50% - 500px);

  }

  .App-footer {
    padding-inline: calc(50% - 600px);

  }
}