.App {
  text-align: center;
  /* color: #004A59; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  right: -10px;
  background-color: rgb(236, 241, 241);
  min-height: 4rem;
  padding-left: 5vw;
  font-size: calc(10px + 2vmin);
}


.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  bottom: 0;
  margin-bottom: 0px;
  color: #fff;
  background-color: #033632;
  min-width: 270px;
}

.footer-content {
  width: 100%;
  padding: 0.25rem 0;
  background-color: rgb(242, 182, 72);
}

.footer-cute {
  width: 80%;
  box-shadow: 0 0 20px 5px rgb(158, 107, 10);
  border-radius: 2rem;
}

.footer-bottom {
  background-color: #033632;
  padding: 0.5rem 1rem;
  height: 2rem;
  width: 100%;
  text-align: right;
}

.hrt-rule--horizontal {
  margin: 1rem 0;
  border-top: 0.5px solid #e1dcdcd6;
}


@media screen and (min-width : 1024px) {

  .App-header {
    padding-inline: calc(50% - 500px);

  }

  .footer-bottom {
    padding-inline: calc(50% - 600px);

  }
}

.loader {
  border-top: 0.5rem solid rgb(139, 139, 230);
  border-right: 0.5rem solid rgb(132, 186, 132);
  border-left: 0.5rem solid rgb(130, 201, 233);
  border-bottom: 0.5rem solid pink;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.response-container {
  margin-top: 4rem;
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 100vw;
  min-width: 270px;

}

.resp-card {
  background-color: #fff;
  box-shadow: rgb(228, 223, 223) 0 0 50px 5px;
  border-radius: 0.5rem;
  width: 32rem;
  margin: 1.5rem 0.5rem;
}

.card-head,
.card-body {
  padding: 3rem;
  text-align: center;
}

.card-head {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #fff;
}

.success {
  background-color: #06DCADFF;
}

.error {
  background-color: #F04D47E8;
}

.back-home-btn {
  border: none;
  background-color: #198CF0FF;
  color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-size: medium;
}

.back-home-btn:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.btn-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
}

.oops-header {
  font-family: 'Lucida Handwriting', cursive;
  font-size: 7rem;
  color: #d54d7b;
}


@media screen and (max-width : 400px) {
  .oops-header {
    font-size: 4rem;
  }
}