*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #d0f0f3;
  opacity: 1;
  background-image: radial-gradient(#000818 0.15px, transparent 0.15px), radial-gradient(#000818 0.15px, #fff 0.15px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  line-height: 1.5;
  font-size: 16px;
  min-width: 280px;
}

h2,
h3,
h4 {
  /* text-transform: capitalize; */
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 0.95rem;
}

p {
  text-align: left;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}